.centered-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 140vh; */
     /* Center vertically within the viewport */
  }

  .content-below-form {
    margin-top: 60px; /* Adjust the margin as needed */
  }
 

.text-left{
    text-align: left;
    /* /* font-size: large; */

} 

.logo{
    height : 100px;
}

h1{
    color : rgb(1,162,212);
    font-size: 20px;
}
h3{
    margin : 0px;
}

.thank-you-message{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
/* raj */
label{
    font-weight: bold;
}


/* img{
  height: 400px;
  width: 400px;
}


h3{
    color: black;
    margin: 0px;
}
li{
    color: black;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    
    
}  */
.h2-style{
    color: rgb(1,162,212);
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom : 15px

}

.founder-image{
    height: 300px;
    width: 300px;
  }


ul{
    align-items: center;
    /* display: flex; */
    text-align: inline;
}
li{
    /* color: black; */
    padding-left: 20px;
    text-align: left;
    /* font-weight: bold; */
    font-size: 15px;
    
    
}

  
    /* color: black;
    font-weight: bold; */
    /* font-size: 30px; */
/* 
    h3{
        color: black;
        margin: 0px;
    } */

    